@media screen and (min-width: 996px) {
  #map, .main {
    height: 100%;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
}

h3 {
  text-align: center;
}

#stars-slider {
  margin-bottom: 30px;
}

.collapsible {
  margin-top: 20px;
}

.collapsible-header {
  font-size: 1.2em;
}

.collapsible-header:hover, li.active .collapsible-header {
  background-color: #eeeeee;
}

@media screen and (max-width: 995px) {
  .map {
    width: 100%;
  }

  #map {
    height: 400px;
    width: 100%;
  }
}